<div class="dilog-line">
    <div class="user-info">
        <img routerLink="/dashboard" class="mob-logo-img" src="../../../assets/Avatar_Original.png">
        <p>Jory Lenz</p>
        <p>jory.lenz@gmail.com</p>
    </div>
</div>
<div class="nav-items">
    <mat-nav-list>
        <div class="dilog-line">
            <a mat-list-item mat-dialog-close routerLink="/favorites">
                <mat-icon class="mr-2">favorite</mat-icon> Favorites
            </a>
        </div>
    </mat-nav-list>
</div>