.dilog-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    color: #808080;
}

.dilog-subtitle {
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat";
}

.dilog-icon {
    font-size: 30px;
}

.dilog-line {
    border-bottom: 1px solid #F5F5F5;
}

.mob-logo-img {
    width: 4rem;
    margin-bottom: 1rem;
}

.user-info {
    background: linear-gradient(to right, #22AB72, #69BD65);
    padding: 2rem;
}

.user-info p {
    color: #fff;
    margin-bottom: 0rem;
}

.nav-items {
    padding-left: 1rem !important;
}

.nav-items a {
    color: #98A29F;
}